@model UnitNoCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container w-50 card border-0 p-4">
    <div class="card-header ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2"><i class="bi bi-plus-circle"></i> Create Unit Number</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <div class="form-floating py-2 col-12">
                <input asp-for="UnitNo.UnitNumber" class="form-control border shadow" />
                <label asp-for="UnitNo.UnitNumber" class="ms-2">Unit Number</label>
                <span asp-validation-for="UnitNo.UnitNumber" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <select asp-for="UnitNo.UnitId" asp-items="@Model.UnitList" class="form-select border shadow">
                    <option disabled selected>--Select Unit--</option>
                </select>
                <label asp-for="UnitNo.UnitId" class="ms-2">Unit</label>
                <span asp-validation-for="UnitNo.UnitId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="UnitNo.SpecialDetails" class="form-control border shadow" />
                <label asp-for="UnitNo.SpecialDetails" class="ms-2">Special Details</label>
                <span asp-validation-for="UnitNo.SpecialDetails" class="text-danger"></span>
            </div>

            <div class="col-12 text-end py-2">
                <button type="submit" class="btn btn-success shadow">
                    <i class="bi bi-file-plus"></i> Create
                </button>
                <a asp-controller="UnitNo" asp-action="Index" class="btn btn-secondary shadow">
                    <i class="bi bi-arrow-left-circle"></i> Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="_Notification" />
    }
}